<div class="layout">
    <aside class="sidebar">
        <h3>Categorias</h3>
        @if (loadingCats()) {
        <p>Cargando...</p>
        }

        @for (c of categories(); track c.id) {
        <a (click)="selectCategory(c.id)" [class.active]="c.id === selectedId()">{{ c.name }}</a>
        }
    </aside>

    <section class="content">
        <header class="head">
            <h1>{{ currentCategoryName() }}</h1>
            @if (!loadingProds()) {
            <p>{{ products().length }} resultados</p>
            }
        </header>

        @if (loadingProds()) { <p>Cargando productos...</p> }
        @if (!loadingProds() && products().length === 0) {
        <p>No hay productos en esta categoría.</p>
        }
        @if (!loadingProds()) {

        <div class="grid">
            @for (p of products(); track p.id) {
            <article class="card">
                @if (p.imageUrl) {
                <img [src]="p.imageUrl" alt="" style="height: 80px; width: 80px;" />
                }

                <div class="name">
                    <a [routerLink]="['/productos', p.id]">{{ p.name }}</a>
                </div>
                <div class="price">
                    @if (p.discount > 0) {
                    <span class="new">$ {{ productsApi.priceWithDiscount(p.price, p.discount) }}</span>
                    <span class="old">$ {{ p.price }}</span>
                    } @else {
                    <span class="new">$ {{ p.price }}</span>
                    }
                </div>
            </article>
            }
        </div>
        }
    </section>
</div>