.layout {
    font-family: var(--main-font);
}

.clean {
    text-decoration: underline;
    cursor: pointer;
    color: red;
    font-weight: 400;
    opacity: .7;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-t {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    width: 100%;
}

.img-name-price {
    display: flex;
}



.image {
    width:80px;
    height:80px;
    border-radius: 15px;
    border: 1px solid transparent;
}

.row {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: start;
    justify-content: space-between;
    background-color: white;
    position: relative; 
    border-bottom: 0.5px solid gainsboro
}



.qty-input {
    width: 40px;
    text-align: center;
}

.reset {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.total {
    font-size: 30px;
}

.border { max-height: none; overflow: visible; }
.border:has(.row:nth-child(4)) {
    max-height: 480px;       
    overflow-y: auto;
  }


/* media para tabletas y pc */
@media (min-width: 769px) {
    .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .border {
        border: 1px solid gainsboro;
        border-radius: 15px;
        padding: 10px;
    }

    .img-name-price {
        gap: 40px
    }

    .controls { 
        padding: 5px;
        margin-top: 10px;
    }

    .resume {
        height: min-content;
        margin-top: 70px;
        text-align: center;
    }

    .clean:hover {
        color: black;
        transition: 300ms;
    }

}

/* media para telefonos */
@media (max-width: 768px) {
    .layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .general {
        width: 100%;
    }

    .resume {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 90px;
        border-top: 1px solid gainsboro;
        box-shadow: 0 -3px 5px rgba(0,0,0,0.1) ;
    }

    .img-name-price {
        gap: 5px;
    }

    .controls { 
        padding: 2px;
        margin-top: 5px;
    }
}

.name-price {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.card-prices {
    display: flex;
    align-items: center;
    gap: 3px;
}

.discount{
    background-color: gold;
    width: min-content;
    padding: 2px;
    font-weight: 700;
}

.real-price {
    color: var(--color-text);
    text-decoration: line-through;
}

.price {
    font-weight: 700;
} 

.controls {
    border: #ccc 1px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
  
}

.continuar {
    width: 150px;
    height: 45px;
    font-size: 20px;

    border-radius: 20px;
    border: none;
    background-color: var(--color-text);
    color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2) ;
}