<h1>Mis Pedidos</h1>
@if (loading) {
<h3>Cargando...</h3>
}

@if (!loading && !orders.length) {
<h3>No tienes ordenes aun.</h3>
}

@for (o of orders; track o.id) {
<article class="card">
    <header class="row">
        <div>#{{ o.id }}</div>
        <div>Estado: <strong>{{ o.status }}</strong></div>
        <div>Total: ${{ o.totalPrice }}</div>
        <div>{{ o.createdAt }}</div>
    </header>

<section class="items">
    @for (it of o.items; track it.id) {
    <div class="item">
        <div>{{ it.product?.name || it.productId }}</div>
        <div>Cant: {{ it.quantity }}</div>
        <div>Precio: ${{ it.priceAtPurchase }}</div>
    </div>
    }
</section>

@if (o.address) {
<footer class="addr" >
    Enviar a: {{ o.address.street }}, {{ o.address.city }}
</footer>
}


</article>

}