.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.thead th {
    padding: 0px 10px;
}

.rowhead {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
}

.tbody tr {
    border-bottom: 1px solid #eee;
}

.tbody td {
    padding: 10px;
}

.orders {
    font-family: var(--main-font);
}

.link {
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
}

.link:hover {
    color: black;
    transition: 300ms;
}

.estado {
    padding: 2px 10px;
    color: #eee;
    font-weight: 700;
    border-radius: 10px;
    width: max-content;
}

.estado.pending {
    background-color: #ff9800;
}
  
.estado.paid {
    background-color: #2196f3; /* Naranja */
}
  
.estado.shipped {
    background-color: #2196f3; /* Azul */
}
  
.estado.cancelled {
    background-color: #f44336; /* Rojo */
}

.estado.delivered {
    background-color: #4caf50;
}

.card {
    font-family: var(--main-font);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.title {
    grid-column: span 2 / span 2;
}
