@if (!selectedOrder) {

<section class="orders">

    <h1>Mis Pedidos</h1>
    @if (loading) {
    <h3>Cargando...</h3>
    }

    @if (!loading && !orders.length ) {
    <h3>No tienes ordenes aun.</h3>
    }
    <table class="table">
        <thead class="thead">
            <tr class="rowhead">
                <th>
                    Fecha
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Total
                </th>
                <th>
                    Dirección
                </th>
            </tr>
        </thead>
        @for (o of orders; track o.id) {
        <tbody class="tbody">
            <tr>
                <td>
                    {{ o.createdAt | date: 'fullDate' }}
                </td>
                <td>
                    <div [ngClass]="'estado ' + o.status.toLowerCase()">
                        {{ o.status }}
                    </div> <br />
                    <a [routerLink]="['/orders/detail/', o.id]" class="link">Ver detalle</a>
                </td>
                <td>
                    Total: ${{ o.totalPrice }}
                </td>
                <td>
                    {{ o.address?.street }}, {{ o.address?.city }}
                </td>
            </tr>
        </tbody>
        }
    </table>
</section>
}


@if (selectedOrder) {
<!-- <div class="card">
    <div class="title">
        <h3>Productos</h3>

    </div>
    <div class="row">
        @for (it of selectedOrder.items; track it.id) {
        <div class="head">
            <img [src]="it.product?.imageUrl" style="height: 30px; width: 30px;" />
            <p>{{ it.product?.name || it.productId }}</p>
            <p> Cant: {{ it.quantity }}</p>
            <p>${{ it.priceAtPurchase }}</p>
            <p><strong>Total:</strong> ${{ selectedOrder.totalPrice }}</p>

        </div>

        }
    </div>


    <div class="resume">
        <h3>Detalle de la orden</h3>
        <button (click)="selectedOrder = false">Cerrar</button>
        <p><strong>Estado:</strong> {{ selectedOrder.status }}</p>
        <p><strong>Fecha:</strong> {{ selectedOrder.createdAt | date:'fullDate' }}</p>
        <p><strong>Dirección:</strong>
            {{ selectedOrder.address?.street }}, {{ selectedOrder.address?.city }}
        </p>
    </div>
</div> -->

}