.invervisa {
    background-color: #FBFCF3;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 200px;
    flex-shrink: 0;
}

.layout {
    margin: 0;
    padding: 0;
}