.nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-items: auto;
}

a {
    text-decoration: none;
    color: var(--color-buton); 
    font-family: var(--main-font);
    font-weight: 700;
}

li {
    list-style: none;
}

