.loading {
    color: black;
    font-family: var(--main-font);
}

.title {
    font-family: var(--main-font);
    text-align: center;
    color: var(--color-text);
}

.container-p{
    display: flex;
    flex-wrap: wrap;
}

.card {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 2px solid;
    justify-content: space-between;
}

.discount{
    text-decoration: line-through;
    color: gray;
}

.priceWithD {
    color: var(--color-buton);
}