@if (loading) { <p>Cargando...</p> }
@if (product) {
<div class="card">
    <div class="wrapImg">
        <a [routerLink]="['/productos']" class="link">Volver</a>
        <img [src]="product.imageUrl" style="height: 320px; width: 320px;"/>
    </div>

    <div class="wrapBody">
        <h2 class="brand">{{ product.brand }}</h2>
        <h2>{{ product.name }}</h2>
        <!-- <p>{{ product.category }}</p> -->
        <p>{{ product.description }}</p>
        @if (product.discount > 0) {
            <div class="priceWithD">${{ api.priceWithDiscount(product.price, product.discount) }}</div>
            <div class="discount">${{ product.price }}</div>
        } 
        @else {
            <div>${{ product.price }}</div>
        }
        <label class="cantidad">Cantidad</label>
        <input class="input" type="number" [(ngModel)]="qty" min="1">
        <button (click)="addToCart()" class="buttones">Agregar al carrito</button>
        
    </div>
    
    <div class="add">
        <a [routerLink]="['/productos']" >otra categorías</a>
    
    </div>

    
</div>
}
