.entrada {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;    
    justify-items: center;
    align-items: center;
    color: white
}

h1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 40px;

}

.name {
    font-family: var(--logo-font);
    font-weight: 400;
    font-size: 60px;
    
}

h4 {
    font-family: var(--main-font);
    font-weight: 400;
    text-align: center;
}

.container-icon {
    display: flex;
    align-items: center;
}

.icon {
    height: 100px;
}