<div class="container">
    <h1>Panel Admin</h1>


    <nav class="grid">
        <a class="card" routerLink="/admin/categories/new">
            <img src="/category.svg" alt="category" class="svg" />
            <span class="title">Nueva categoría</span>
            <span class="desc">Crea y organiza las categorías</span>
        </a>

        <a class="card" routerLink="/admin/products/new">
           
            <img src="/product.svg" alt="category" class="svg" />
            <span class="title"> Nuevo Producto</span>
            <span class="desc">Registra ítems con precio y stock</span>
        </a>

        <a class="card" routerLink="/admin/orders">
            <img src="/orders.svg" alt="category" class="svg" />
            <span class="title">Ordenes</span>
            <span class="desc">Consulta y gestiona pedidos</span>
        </a>

        <a class="card" routerLink="/admin/products/edit">
            <img src="/edit.svg" alt="category" class="svg" />
            <span class="title">Editar Producto</span>
            <span class="desc">Actualiza precios y existencias</span>
        </a>

    </nav>
</div>
